*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  color: #fff;
  background-image: radial-gradient(circle at top, hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3%;
  align-items: center;
}

.header {
  display: flex;
  width: 52%;
  border: 2px solid hsl(217deg, 16%, 45%);
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 1.5% 1.5% 2%;
}

.game {
  margin: 7rem 0 0;
  text-align: center;
}

.selection-window {
  margin: 4rem;
  background-image: url("../images/bg-pentagon.svg");
  width: 33rem;
  height: 33rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
}
.selection-window > .chip {
  position: absolute;
  width: 33%;
  height: 33%;
}
.selection-window > .chip--scissors {
  top: 2.5%;
  left: 50%;
  transform: translate(-50%, -45%);
}
.selection-window > .chip--rock {
  top: 95%;
  right: 20%;
  transform: translate(50%, -50%);
}
.selection-window > .chip--lizard {
  top: 95%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.selection-window > .chip--spock {
  top: 40%;
  left: 0;
  transform: translate(-50%, -50%);
}
.selection-window > .chip--paper {
  top: 40%;
  right: 0;
  transform: translate(50%, -50%);
}

.result-window {
  display: grid;
  text-align: center;
}

.result-pending {
  grid-template-columns: [player-choice-start] 1fr [player-choice-end opponent-choice-start] 1fr [opponent-choice-end];
  grid-template-rows: [title-start] 1fr [title-end choice-start] 4fr [choice-end];
  gap: 7rem 15rem;
}

.result-declared {
  grid-template-columns: [player-choice-start] 1fr [player-choice-end result-start] max-content [result-end opponent-choice-start] 1fr [opponent-choice-end];
  grid-template-rows: [title-start] 1fr [title-end choice-start] 4fr [choice-end];
  gap: 7rem 9rem;
}

.title--player {
  grid-column: player-choice-start/player-choice-end;
}

.title--opponent {
  grid-column: opponent-choice-start/opponent-choice-end;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice__player {
  grid-column: player-choice-start/player-choice-end;
  grid-row: choice-start/choice-end;
}
.choice__opponent {
  grid-column: opponent-choice-start/opponent-choice-end;
  grid-row: choice-start/choice-end;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 5.5%;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

h1 {
  max-width: min-content;
  font-size: 2.5rem;
  line-height: 0.8;
  font-weight: 700;
}

h2 {
  color: hsl(229deg, 25%, 31%);
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
  letter-spacing: 2px;
}

.result span {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.result button {
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: hsl(229deg, 25%, 31%);
}

.score {
  display: flex;
  background-color: #fbfbfb;
  padding: 2% 7%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
.score__tag {
  color: hsl(229deg, 64%, 46%);
  letter-spacing: 1.5px;
  font-size: 1.5rem;
}
.score__value {
  color: hsl(217deg, 16%, 45%);
  font-size: 6rem;
  line-height: 1;
}

.chip {
  height: 22.539rem;
  width: 22.539rem;
  border-radius: 50%;
  transform-style: preserve-3d;
  background-color: hsla(238deg, 48%, 15%, 0.501);
  position: relative;
}
.chip::after, .chip::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}
.chip::after {
  height: 135%;
  width: 135%;
  transform: translate3d(-50%, -50%, -10px);
}
.chip::before {
  visibility: hidden;
  height: 100%;
  width: 100%;
  transform: translate3d(-50%, -50%, -20px);
  background-image: radial-gradient(circle, #fff 1%, transparent 60%);
  transition: all 0.15s;
}
.chip--scissors {
  border: hsl(39deg, 89%, 49%) 1px solid;
  background-image: url("../images/icon-scissors.svg");
  background-color: #e4e4e4;
  background-position: center;
  background-size: 42.5%;
  background-repeat: no-repeat;
}
.chip--scissors::after {
  background-image: linear-gradient(to bottom, hsl(40deg, 84%, 53%), hsl(39deg, 89%, 49%));
}
.chip--rock {
  border: hsl(349deg, 71%, 52%) 1px solid;
  background-image: url("../images/icon-rock.svg");
  background-color: #e4e4e4;
  background-position: center;
  background-size: 42.5%;
  background-repeat: no-repeat;
}
.chip--rock::after {
  background-image: linear-gradient(to bottom, hsl(349deg, 70%, 56%), hsl(349deg, 71%, 52%));
}
.chip--paper {
  border: hsl(230deg, 89%, 62%) 1px solid;
  background-image: url("../images/icon-paper.svg");
  background-color: #e4e4e4;
  background-position: center;
  background-size: 42.5%;
  background-repeat: no-repeat;
}
.chip--paper::after {
  background-image: linear-gradient(to bottom, hsl(230deg, 89%, 65%), hsl(230deg, 89%, 62%));
}
.chip--lizard {
  border: hsl(261deg, 73%, 60%) 1px solid;
  background-image: url("../images/icon-lizard.svg");
  background-color: #e4e4e4;
  background-position: center;
  background-size: 42.5%;
  background-repeat: no-repeat;
}
.chip--lizard::after {
  background-image: linear-gradient(to bottom, hsl(261deg, 72%, 63%), hsl(261deg, 73%, 60%));
}
.chip--spock {
  border: hsl(189deg, 59%, 53%) 1px solid;
  background-image: url("../images/icon-spock.svg");
  background-color: #e4e4e4;
  background-position: center;
  background-size: 42.5%;
  background-repeat: no-repeat;
}
.chip--spock::after {
  background-image: linear-gradient(to bottom, hsl(189deg, 58%, 57%), hsl(189deg, 59%, 53%));
}
.chip--scissors, .chip--rock, .chip--paper, .chip--lizard, .chip--spock {
  box-shadow: inset 0px 10px 0px 1px #bac0d3;
}
.chip--scissors::after, .chip--rock::after, .chip--paper::after, .chip--lizard::after, .chip--spock::after {
  box-shadow: inset 0px -10px 0 1px rgba(10, 1, 1, 0.3);
}

.selection-window > .chip--scissors, .selection-window > .chip--rock, .selection-window > .chip--paper, .selection-window > .chip--lizard, .selection-window > .chip--spock {
  box-shadow: inset 0px 8px 0px -1px #bac0d3;
}
.selection-window > .chip--scissors::after, .selection-window > .chip--rock::after, .selection-window > .chip--paper::after, .selection-window > .chip--lizard::after, .selection-window > .chip--spock::after {
  box-shadow: inset 0px -8px 0 -1px rgba(10, 1, 1, 0.3);
}
.selection-window > .chip:hover::before {
  visibility: visible;
  height: 200%;
  width: 200%;
}

.btn--play-again {
  margin: 7% 0;
  border: none;
  display: inline-block;
  padding: 7% 25%;
  border-radius: 7px;
}

.btn--rules, .btn--rules:link, .btn--rules:visited {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: 2px solid hsl(217deg, 16%, 45%);
  padding: 1rem 4rem;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 3px;
  transition: all 0.2s;
}
.btn--rules:hover, .btn--rules:active {
  color: hsl(229deg, 25%, 31%);
  background-color: #fff;
  border-color: #fff;
}

.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(237deg, 85%, 5%, 0.699);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup__content {
  background-color: #fff;
  border-radius: 12px;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.popup .rules {
  margin: 2rem 0;
}

/*# sourceMappingURL=style.css.map */
