$rock-primary: hsl(349, 70%, 56%);
$rock-secondary: hsl(349, 71%, 52%);
$rock-shadow: hsl(348, 80%, 37%);
$paper-primary: hsl(230, 89%, 65%);
$paper-secondary: hsl(230, 89%, 62%);
$paper-shadow: hsl(228, 63%, 45%);
$scissors-primary: hsl(40, 84%, 53%);
$scissors-secondary: hsl(39, 89%, 49%);
$scissors-shadow: hsl(28, 71%, 45%);
$lizard-primary: hsl(261, 72%, 63%);
$lizard-secondary: hsl(261, 73%, 60%);
$lizard-shadow: hsl(261, 51%, 44%);
$spock-primary: hsl(189, 58%, 57%);
$spock-secondary: hsl(189, 59%, 53%);
$spock-shadow: hsl(195, 58%, 43%);