body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3%;
    align-items: center;
    // justify-content: center;
}

.header {
    display: flex;
    width: 52%;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 1.5% 1.5% 2%;
}

.game {
    margin: 7rem 0;
    text-align: center;
}

.selection-window {
    margin: 10rem 0 7.5rem;
    background-image: url("../images/bg-pentagon.svg");
    width: 27rem;
    height: 27rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;

    &>.chip {
        position: absolute;
        width: 33%;
        height: 33%;

        &--scissors {
            top: 2.5%;
            left: 50%;
            transform: translate(-50%, -45%);
        }

        &--rock {
            top: 95%;
            right: 20%;
            transform: translate(50%, -50%);
        }

        &--lizard {
            top: 95%;
            left: 20%;
            transform: translate(-50%, -50%);
        }

        &--spock {
            top: 40%;
            left: 0;
            transform: translate(-50%, -50%);
        }

        &--paper {
            top: 40%;
            right: 0;
            transform: translate(50%, -50%);
        }
    }

}

.result-window {
    display: grid;
    text-align: center;
}

.result-pending {
    grid-template-columns: [player-choice-start] 1fr [player-choice-end opponent-choice-start] 1fr [opponent-choice-end];
    grid-template-rows: [title-start] 1fr [title-end choice-start] 4fr [choice-end];
    gap: 7rem 15rem;
    // column-gap: 5rem;
}

.result-declared {
    grid-template-columns: [player-choice-start] 1fr [player-choice-end result-start] max-content [result-end opponent-choice-start] 1fr [opponent-choice-end];
    grid-template-rows: [title-start] 1fr [title-end choice-start] 4fr [choice-end];
    gap: 7rem 9rem;
}

.title--player {
    grid-column: player-choice-start/player-choice-end;
}

.title--opponent {
    grid-column: opponent-choice-start/opponent-choice-end;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 5rem;

    &__player {
        grid-column: player-choice-start/player-choice-end;
        grid-row: choice-start/choice-end;
    }

    &__opponent {
        grid-column: opponent-choice-start/opponent-choice-end;
        grid-row: choice-start/choice-end;
    }
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}